#headline, #headline-spanish, #subhead, #subhead-spanish, #cta, #cta-spanish, #shadow1, #shadow2 {
  opacity: 1
}
#burrito {
  background-position: 59px 124px;
}
#cta, #cta-spanish {
  top: 343px;
}
a, img {
  border: none;
}
